#marginlessTuna {
  margin: 0 !important;
  padding: 3px;
  height: 4vh;
}
.tile.is-parent {
    padding: 18px !important;
}
.is-parent {
    padding: 18px !important;
}
#halfHeight{
    height: 42vh;
    margin-bottom:0px;
}
.s-alert-close {
  display: none;
}
.imageThumb {
  width: 12vw;
  height: auto;
  max-height: 20vh;
}
.paddingLR {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.isHidden {
  visibility: hidden;
}
.isVisible {
  visibility: visible;
}
.overlay {
  border-radius: 1.5vw;
  position: fixed;
  z-index: 100;
  margin-bottom: 2vw;
  left: 3vw;
  top: 8vh;
  background-color: #263238;
  width: 93.5vw;
  height: auto;
}

.overlay p {
  background-color: #9daab2;
  color: #07090c;
  border-radius: 1.5vw;
  border: 1px solid #4DB6AC;
}
.overlay p span {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.overlay p:hover {
  cursor: pointer;
}
h1 {
  font-size: 3.5vh;
  font-weight: bolder;
}
h2 {
  font-size: 2.7vh;
  font-weight: bold;
}
h3 {
  font-size: 2vh;
  font-weight: bold;
}
h4 {
  font-size: 1.8vh;
  font-weight: bold;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
